<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: 11-11-2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00 am-10:50 am</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 am-1:00 pm</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell(Continued)</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: 12-11-2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00 am-10:50 am</td>        <!-- time    -->
        <td>Version Control with Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00 am-1:00 pm</td>        <!-- time    -->
        <td>Version Control with Git (Continued)</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: 13-11-2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00 am-10:50 am</td>        <!-- time    -->
        <td>Plotting and Programming in Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00 am-1:00 pm</td>        <!-- time    -->
        <td>Plotting and Programming in Python(Continued)</td>        <!-- content -->
      </tr>
    </table>
  </div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
        <h3>Day 4: 14-11-2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00 am-10:50 am</td>        <!-- time    -->
        <td>Plotting and Programming in Python(Continued)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00 am-1:00 pm</td>        <!-- time    -->
        <td>Plotting and Programming in Python(Continued)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
